body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}


.header {
  background: linear-gradient(135deg, #007bff, #00d4ff);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffeb3b;
}

.page {
  background: white;
  margin: 40px auto;
  padding: 40px 20px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.page h2 {
  color: #007bff;
  margin-bottom: 15px;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
}

.project {
  background: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.project h3 {
  color: #333;
}

.project a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  background: #007bff;
  color: white;
  padding: 15px;
  margin-top: 40px;
  font-size: 0.9rem;
}

.skills-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
}

.skills-list li {
  background: #007bff;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .projects-containar{
    flex-direction: column;
  }
}
 